<?php if ($this->showButton('pinterest')): ?>
    <?php
    $store_id = Mage::app()->getStore()->getStoreId();
    $urlAction = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB) . 'rewardpointsbehavior/index/pin';
    $urlImage = $this->getSkinUrl(Mage::getStoreConfig('design/header/logo_src', $store_id), array('_secure' => true));
    if (Mage::app()->getRequest()->getControllerName() == 'product' && Mage::app()->getRequest()->getActionName() == 'view') {
        $_product = Mage::registry('current_product');
        $urlImage = (string) Mage::helper('catalog/image')->init($_product, 'image');
    }
    $customerId = Mage::getSingleton('customer/session')->getCustomer()->getId();
    $customerId = isset($customerId) ? $customerId : 0;
    $linkShare = $this->getShareUrl();
    if (strpos($linkShare, '?k=') !== false)
        $linkShare = substr($linkShare, 0, strpos($linkShare, '?k='));

    $data = array(
        'image' => $urlImage,
        'share' => $linkShare,
        'cus' => $customerId,
    );
    $hash = $this->_helper()->encrypt($data);
    $urlMedia = rawurlencode($urlAction . '?data=' . $hash);
    $title = rawurlencode($this->getLayout()->getBlock('head')->getTitle());
    ?>
    <div id="behavior-printerest" class="behavior-printerest behavior-social" style="width: 70px">
        <a href="https://www.pinterest.com/pin/create/button/?url=<?php echo $linkShare ?>&media=<?php echo $urlMedia ?>&description=<?php echo $title ?>"
           data-pin-do="buttonPin"
           <?php if ($this->showCount('pinterest')): ?>
               data-pin-zero="true" data-pin-config="beside"
           <?php else: ?>
               data-pin-config="none"
           <?php endif ?>
           >
            <img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" />
        </a>

        <script type="text/javascript">
            (function (d) {
                var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
                p.type = 'text/javascript';
                p.async = true;
                p.src = '//assets.pinterest.com/js/pinit.js';
                f.parentNode.insertBefore(p, f);
            }(document));

            var messagePinterest = '<?php echo $this->getSocialInfo('pinterest') ?>';
            var canRequestPinterest = (messagePinterest === '') ? false : true;
            if (messagePinterest !== '' && login) {
                Event.observe('behavior-printerest', 'mouseover', function () {
                    if (canRequestPinterest) {
                        $('behavior-ajax-loader').show();
                        $('social-info-behavior').innerHTML = messagePinterest;
                    } else {
                        $('behavior-ajax-loader').hide();
                    }
                });
                Event.observe('behavior-printerest', 'mouseout', function () {
                    $('behavior-ajax-loader').show();
                    $('social-info-behavior').innerHTML = messageDefault;
                });
            }
        </script>
    </div>
    <?php

 endif ?>
